/*  your css code here. If applicable */
 .star {
  width: 0px;
  height: 0px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid yellow;
  position: relative;
  top: -100px;
}

.star::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid yellow;
  left: -50px;
  top: 0px;
  transform: rotate(144deg);
}

.star::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid yellow;
  left: 50px;
  top: 0px;
  transform: rotate(-144deg);
}